h3 { max-width: 646px; }

h2 {
  color: black;
  font-size: 55;
  max-width: 646px;
}

p {
  max-width: 646px;
  color: white;
}

body {
  background: url("../images/distillery_bg.png");
  background-attachment: fixed;
  margin: 0;
  font-size: 12px;
  font-family: ocraextended;
}

.onoffswitch {
    position: relative; float: right; width: 155px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "💎✊HELD✊💎";
    padding-left: 10px;
    background-color: green; color: #FFFFFF;
    text-align: left;
}
.onoffswitch-inner:after {
    content: "🔒🥃STAKED🥃🔒";
    padding-right: 10px;
    background-color: red; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 46px; margin: 2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 101px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.rye {
    display: none;
  }

  
  .rye.show {
    display: block;
  }
  
  .info-selector {
	width: 110px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-width: 3px;
	border-color: #fff;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 5px
}
.info-selector img {
	width: 250px;
	height: 100%;
  border-style: solid;
	border-width: 2px;
	border-color: #fff;
	border-radius: 2px;
}
.info-selector p {
	margin: 0;
}

.info-selector:hover{
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.info-selected {
  background: url("../images/dd03.gif");
}

.stats-container {
  display: flex;
  justify-content: space-between;
}

.stats-box {
  border-style: solid;
	border-width: 1px;
	border-color: #fff;
  background-color: rgba(256, 256, 256, 0.5);
	border-radius: 3px;
  width:24%;
}
